<%= provide(:title, "Update Profile") %>

<div class="row">
    <div class="col-md-6 col-center">

        <h1 class="text-center"><%= yield(:title) %></h1>
        <div id="profile_pic">
            <%= gravatar_for @user, 120 %>
        </div>
        <div id="update_pic">
            <small>
                <a target="_blank" href=" http://gravatar.com/emails">Update picture</a>   
            </small>
        </div>
        <%= render "form" %>

    </div>  
</div>