<%= provide(:title, "Users") %>
<div class="row">
    <div class="col-md-5 col-center">
		<h1>All Users</h1>

		<%= will_paginate %>
		<ul class="users">
			<%= render @users %>
		</ul>
		<%= will_paginate %>
	</div>
</div>