<%= provide(:title, @user.name) %>

<!-- This is a temporary layout. -->
<div class="row">
    <div class="col-md-3">
        <section class="user_info">
            <%= render "shared/user_info" %>
        </section>
        
        <section>
            <%= render "shared/stats" %>
        </section>

        <div class="learned_words">
            <%= link_to "Learned words", "#" %>
        </div>
    </div>

    <div class="col-md-3">
        <h3>Activities</h3>
    </div>
</div>