<%= provide(:title, "Categories") %>

<div class="row category-list">
    <% @category.each do |category| %>
        <div class="col-sm-6">
            <section class="col-sm-12">
                <div class="details">
                    <h2><%= category.title %></h2>
                    <p><%= category.description %></p>
                    <div class="btn-wrapper text-right">
                        <%= button_to "LEARN", "#", class: "btn btn-success" %>
                    </div>
                </div>
            </section>
        </div>
    <% end %>
</div>