<header>
    <nav class="navbar navbar-inverse">
        <div class="container">
            <%= link_to "E-Learning System", root_path, id: "logo" %>

            <ul class="nav navbar-nav navbar-right">
                <li><%= render "layouts/login_form" %></li>
                <li><%= link_to "Profile", @user %></li>
                <li><%= link_to "Settings", "#" %></li>
            </ul>
        </div>
    </nav>    
</header>